/*
==========================
FileName: Services.css
Student : Martine Nforne
ID : 301485889
Date : February 2, 2024
==========================
*/

#svs_img{
  margin-left: 46%;
}

#svs_txt pre{
  margin: 0;
}

#svs_txt ul{
  margin-top: 0;
  padding-right: 2em;
}