/*
==========================
FileName: Projects.css
Student : Martine Nforne
ID : 301485889
Date : February 2, 2024
==========================
*/
#projs_img{
  margin-left: 35%;
}

#projs_txt dl {
  margin: 0 3em;
  text-align: justify;
  padding: 0 5em;
 }