#headerbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    font-family: monospace, 'Times New Roman', Times, serif;
}

#headerbar div{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;  
  align-items: center;
  width: 90%;
}

#headerbar img{
  border-radius: 25em;
  border: 3px solid hsl(183, 100%, 50%);
  width: 18em;
  height: 18em;
  flex: 0 0 auto;
}

#headerbar div h1{
  
  border: 2px solid hsl(0, 0%, 7%);
  border-radius: 1.5em;  
  color: aqua;
  background-color: black;
  width: inherit;
  align-self: center;
}

#headerbar div nav{

  border: 10px solid hsl(0, 0%, 7%);
  border-radius: 1.5em;  
  color: white;
  background-color: black;
  align-items: center;
  justify-content: space-around;
  width: inherit;
  align-self:center;

}

#headerbar div nav a{
  color: aqua; 
}
#headerbar div nav a:hover{
  color: white;
}


#headerbar div nav button{
  border: 2px solid white; 
  padding: 1.5p 2em;
  font-size: medium;
  width: inherit;
}