/*
==========================
FileName: Home.css
Student : Martine Nforne
ID : 301485889
Date : February 2, 2024
==========================
*/

.home {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  font-family: monospace;
  font-size: medium;
  align-items:start;
  margin-left: 14%;

}

.home img, #home div img{
  width: 10em;
  height: 10em;  
  border-radius: 5px;
  border: 2px solid aqua;
  align-self: flex-start;
  position: relative;
}

.home > div{
 
  border-radius: 5px;
  border: 2px solid aqua;
  width: 78%;
  height: fit-content;
  position: relative;
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home div pre{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px;
  color: black;
  font-size: 1.5em;
  
  /* text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.975),
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(31, 32, 32, 0.5),
        0 0 40px rgba(11, 11, 11, 0.21),
        0 0 80px rgba(8, 8, 8, 0.5);
    background: -webkit-linear-gradient(#add8e6, #00bfff, #1e90ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.home div pre a{
  color: black;
  font-size: 1.5em;
}

.home div div{
  border: none;
  text-align: right;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: 5em;
  color: black;
  font-size: 1.2em;
  margin: 2.5px;
}

.home div div img{
  width: 4em;
  height: 4em;
}

.home > div {
  margin: 0.25em;
}

#headerbar > img, .home > img {
  margin-right: 50em;
}