/*
==========================
FileName: Contact.css
Student : Martine Nforne
ID : 301485889
Date : February 2, 2024
==========================
*/
#cf_img{
  margin-left: 57%;
}

#cf_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40em;
}

.form-group label {
  display: inline-block;
  font-weight: bold;
  align-self: flex-start;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  background-color: none;
  display: inline-block;
  width: 35em;
}

.form-group textarea {
  resize: vertical;  
  width: 36em; 
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 31em;
  margin-top: 2em;
}

button:hover {
  background-color: #0056b3;  
}